<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456469817499-j5lcb3rpl73vddo7f6tvdjdthbd11uf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456469817499-j5lcb3rpl73vddo7f6tvdjdthbd11uf4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456469817499-ss88phg0omt6b4bl9ccvqs52jsbb32mc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFnFAAWTCCs8WrGuD3A_28mUse8SLvE_o</string>
	<key>GCM_SENDER_ID</key>
	<string>456469817499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chuckanuts.game</string>
	<key>PROJECT_ID</key>
	<string>chuckanuts-6fd84</string>
	<key>STORAGE_BUCKET</key>
	<string>chuckanuts-6fd84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456469817499:ios:1f4a234381f0a5e14e3e3e</string>
</dict>
</plist>